<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<title>REGISTRO</title>
 <style type="text/css">
body
{
	background: yellow;
}
			
			* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:500px;
				font-family:Arial, Verdana, sans-serif;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ESTUDIANTE <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="crearestudiantes.html">REGISTRAR</a></li>
            <li><a href="listarestudiantes.html">LISTAS</a></li>
          </ul>
        </li>
      </ul>
</nav>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    

	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DOCENTE <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="creardocentes.html">REGISTRAR</a></li>
            <li><a href="listardocentes.html">LISTAS</a></li>
          </ul>
        </li>
      </ul>
</nav>